registry=http://ec2-3-8-20-173.eu-west-2.compute.amazonaws.com:8081/repository/nexus-npm/
@your-project:registry=http://ec2-3-8-20-173.eu-west-2.compute.amazonaws.com:8081/repository/npm-hosted/
email=admin@example.com
_auth=YWRtaW46YWRtaW4xMjM=